.classpath
.project
.settings
/target
/logs
/exportedFiles
/responseFiles
/mappedxmls
/toImportFiles
/bin
.vscode/settings.json
.vscode/launch.json
outputExcel/
inputExcel/
lib/*
config/catalog.properties
config/EnvironmentDetail.xml

lib_old/*
libs/*
libs_new/*
emails/*
catalog-api-tool.7z
